body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

/* main styles */


.main {
    display: flex;
    flex-direction: row-reverse;
    margin: 40px;
    background-color: white;
}
/* about styles */

 /* блок персональный тренер, имя, инфо про меня */

.about {
    margin-top: 100px;
    }

.name {
margin-left: 90px;
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 55px;
color: #000000;
}

.about-text {
    margin-left: 90px;
    margin-right: 90px;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;

}

.main-h2 {
    margin-left: 90px;
    font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #000000;
}

.main-h3 {
    margin-left: 90px;
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
}

/* проект и названия */

.project-list {
    padding: 0px;
    margin-left: 110px;
}

.project-numb {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-name {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
}

.clubname {
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
}

/* block styles */
.block {
    background-color: #1E2939;
}

.photo {
    width: 370px;
    padding-top: 50px;
}

.block-h3 {
    color: white;
    font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
}

/* contacts */

.contacts {
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.cont-text {
    margin-right: 5px;
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}

.cont-info {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #727983;
}

/* skills */

.skills {
 margin-top: 50px;
 margin-left: 40px;
}

.skills-list {
    padding: 0px;
    margin-left: 20px;
}

.skills-dot {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
    
}

.skills-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}